.admin-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;
}

.admin-container h1{
    margin-bottom: 28px;
}

.btn-register{
    margin-bottom: 28px;
}


.list{
    width: 90%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    background-color: rgb(24, 24, 24);
    border-radius: 4px;
    margin-bottom: 12px;
    justify-content: center;
    padding: 14px 8px;
}

.list p{
    margin-bottom: 8px;
}

.list button{
    margin-right: 8px;
    border: 0;
    border-radius: 4px;
    padding: 4px;
}


.btn-editar{
    background-color: rgb(61, 243, 243);
    transition: all 0.5s;
}

.btn-editar:hover{
    background-color: blue;
}


.btn-delete{
    
    background-color: rgb(61, 243, 243);
    transition: all 0.5s;
}

.btn-delete:hover{
    background-color: rgb(81, 255, 0);    
}

.btn-logout{
    position: absolute;
    bottom: 6%;
    left: 6%;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    border: 0;
    font-weight: bold;
    background-color: rgb(206, 3, 3);
    color: white;
    transition: all 0.5s;
}

.btn-logout:hover{
    background-color: red;
}